name: Deployment
on:
  push:
    branches:
      - development
jobs:
  get_diff:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: list-files
        run: ls
      - name: Find changed files
        run: |
          git fetch origin main
          CHANGED_FILES=$(git diff --name-only origin/main)
          echo "Changed files: $CHANGED_FILES"
      - name: Create new branch
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git checkout -b new-branch
          git branch
          ls
          git push origin new-branch
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Debug Info
        run: |
          echo "Changed files: $CHANGED_FILES"
          echo "Branch Name: $GITHUB_REF"