name: Deployment
on:
  push:
    branches:
      - development
jobs:
  get_diff:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: list-files
        run: ls
      - name: Find changed files
        run: |
          git fetch origin main
          CHANGED_FILES=$(git diff --name-only origin/main)
          echo "Changed files: $CHANGED_FILES"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create new branch
        run: |
          git checkout -b new-branch
          echo "$CHANGED_FILES" | xargs -I {} git checkout development -- {}

        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Debug Info
        run: |
          echo "Changed files: $CHANGED_FILES"
          echo "Branch Name: $GITHUB_REF"