name: Deployment
on:
  push:
    branches:
      - development
jobs:
  get_diff:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Find changed files
        run: |
          git fetch origin main
          CHANGED_FILES=$(git diff --name-only origin/main)
          echo "Changed files: $CHANGED_FILES"
      - name: Debug Info
        run: |
          echo "Changed files: $CHANGED_FILES"
          echo "Branch Name: $GITHUB_REF"
        if: steps.find-changed-files.outputs.CHANGED_FILES != ''
      